<!DOCTYPE html>
<html>
<title>Payment</title>
<body>
    <h3>Welcome to Payment Gateway!</h3>
    <form action="payment" method="POST">
    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%= key %>"
        data-amount="5000"
        data-currency="usd"
        data-name="Nguyen Ha"
        data-description="Buy Product - Stripe"
        data-locale="auto" >
        </script>
    </form>
</body>
</html>